* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    color: #596D48;
}

.content {
    display: flex;
}

.fern {
    height: 100vh;
}

.left {
    flex: 1;
}

.right {
    display: flex;
    flex-direction: column;
    flex: 2;
    background-color: ghostwhite;
}

.top {
    padding: 40px;
}

.center {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

label {
    display: block;
}

form {
    display: flex;
    flex-wrap: wrap;
}

.form-inp {
    margin: 10px 10px 10px 20px;
}

.motivate {
    margin-left: 20px;
}

button {
    background-color: #596D48;
    color: ghostwhite;
    border-radius: 4px;
    padding: 10px;
    width: fit-content;
    margin: 40px;
}