@font-face {
    font-family: 'norsebold';
    src: url('./fonts/norse-bold-webfont.woff2') format('woff2'),
         url('./fonts/norse-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    font-family: Arial, Helvetica, sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.left {
    position: relative;
    display: flex;
    flex-direction: column;
}

.logo {
    margin-top: calc(100% / 6);
    position: absolute;
    color: aliceblue;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
    background-color: hsla(0, 0%, 0%, 0.5);
    font-family: "norsebold";
    width: 100%;
}

.photo-author {
    position: absolute;
    margin-top: calc(100vh - 1.2em);
    color: aliceblue;
}

.odin-logo {
    height: 100%;
}

.top, .motivate, button {
    font-weight: 600;
    font-size: 1,5rem;
}

.login {
    font-size: 1,5rem;
    margin-left: 40px;
}

label {
    font-weight: 600;
    font-size: 10px;
}

a {
    color: #596D48;
}

.content {
    display: flex;
}

.fern {
    height: 100vh;
}

.right {
    display: flex;
    flex-direction: column;
    background-color: ghostwhite;
}

.top {
    padding: 100px 50px 30px 40px;
}

.top > p {
    margin-bottom: 10px;
}

.center {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    box-shadow: 0px 5px 8px -5px gray;
}

label {
    display: block;
}

form {
    display: flex;
    flex-wrap: wrap;
}

.form-inp {
    margin: 10px 10px 10px 20px;
}

.motivate {
    margin: 10px 20px;
}

button {
    background-color: #596D48;
    color: ghostwhite;
    border-radius: 4px;
    padding: 10px 30px;
    width: fit-content;
    margin: 20px 40px;
    cursor: pointer;
}

.message {
    margin-top: 5px;
    font-size: 10px;
    color: red;
    display: block;
    opacity: 0;
}

input {
    border: 1px solid #E5E7EB;
    border-radius: 3px;
    padding: 3px 6px;
}

input:not(:focus):not(:placeholder-shown):invalid  {
    border: 2px solid red;
}

input:not(:focus):not(:placeholder-shown):invalid  + .message {
    opacity: 1;
  }

input:valid {
    border: 2px solid green;
}